@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$fsize:18px;
$pink:#FD466A;
$yellow:#ffa150  ;
$green:#42B97C  ;
$fsmobile:16px;
$bp:1290px;
$fontfam:'Open Sans', sans-serif;
body,
html {
    margin: 0 auto;
    padding: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    min-height: inherit;
    width: 100%;
    max-width: 100%;
    font-family: $fontfam;
    background: #f1f1f1 ;
    background-attachment: fixed;
    background-repeat: repeat-x;
        a{
            outline: 0px;
            border: 0px;
        }

      
    header{
    
    width: 100%;
    height: 50vh;
    position: relative;  

         
    }

    section{
        height: 100vh;
      
        
        
        .shops{

            .box{
                border: 0;
                background: #fff;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 15px;
                margin-bottom: 20px;
                h3{
                    margin: 0px;
                    position: relative;
                    padding-left: 20px;
                    font-size: 1rem;

                    span{
                        float: right;
                        font-size: 0.8rem;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: 8px;
                        left: 0;
                        width: 8px;
                        height: 8px;
                        background: #78cdd1;
                        border-radius: 8px;
                    }

                    &::after{
                        content: '';
                        display: block;
                        clear: both;

                    }
                }

                .imgs{ 
                    width: 100%;
                    height: 230px;
                    overflow: hidden;
                    
                    
                    img{
                       
                        filter: grayscale(100%);
                        transition: all .5s ease-in;
                        &:hover{
                            filter: grayscale(0%);
                        }


                      
    
                       
                    }

                   &:before {
                        content: "";
                        display: block;
                            margin-bottom: 8px;
                            margin-top: 8px;
                        border-bottom: 1px solid #e2e2e2;
                        clear: both;
                    }
                 

                }

                .box_foot{
                    width: 100%;
                    &:before {
                        content: "";
                        display: block;
                        margin-bottom: 8px;
                        margin-top: 8px;
                        border-bottom: 1px solid #e2e2e2;
                        clear: both;
                    }

                    address{
                        font-size: 1rem;
                        font-style: normal;
                        margin: 15px 0px;
                        text-align: justify;
                    }

                    .like_duskike{
                        margin: 20px 0;
                                span{display: block;

                                float: left;
                                width: 50%;
                                text-align: center;
                            


                                &:nth-child(2){

                                    &:hover{ 
                                        i{
                                        
                                            color:$green;
                                        }
                                    }
                                }

                                &:nth-child(3){

                        

                                    &:hover{
                                        i{
                                        
                                            color:$pink;
                                        }
                                    }
                                }

                                i{
                                    font-size: 2.5rem;
                                    transition: all .5s ease-in;
                                    color: rgba(0, 0, 0, 0.5);
                                    cursor: pointer;
                                }

                            
                            

                            }

                            &:after{
                                content:'';
                                display: block;
                                clear: both;
                            }
        
                    }

                    p{
                        margin: 0;
                        font-size: 0.8rem;
                        text-align: right;

                        
                    }
                    

                   


                }
               
               

            }

            
        }
    }


    footer{
   
    position: relative;
    display: block; background: url(../imgs/bg.gif);
    width: 100%;
   
    color: #fff;
    position: relative;
    padding: 40px 0px;

    .copyright-info{
        text-align: center;

        color: #fff;
        font-size: 0.8rem;

    }
     

        }



    
}




.button-inactive {
    width: 22px;
    height: 22px;   border: 1px solid  $yellow;
    display:block;
    display: block;
    border-radius: 50%;
    position: relative;margin-top: 1px;
    float: right;
  
        &:after {    content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: $yellow;
            top: 43%; border-radius: 50%;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: 0;
            margin: 0 auto;
        }

        animation: pulse 3s infinite;

        &:hover{
            box-shadow: 0 0px 8px $yellow;
            border: 0px solid  $yellow;
            background-color:$yellow;
            &:after {   
                background-color: #ffffff;
              
             

              
            }
        }
    
}


@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255,161,80,0);
        box-shadow: 0 0 0 0 rgba(255,161,80,0);
        
      }

    20% {
        -moz-box-shadow: 0 0 0 0 rgba(255,161,80,0.5);
        box-shadow: 0 0 0 0 rgba(255,161,80,0.5);
        
      }
    50% {
        -moz-box-shadow: 0 0 0 10px rgba(255,161,80,0);
        box-shadow: 0 0 0 10px rgba(255,161,80,0);
    }
    70% {
        -moz-box-shadow: 0 0 0 0 rgba(255,161,80,0.5);
        box-shadow: 0 0 0 0 rgba(255,161,80,0.5);
        
      }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,161,80,0);
        box-shadow: 0 0 0 0 rgba(255,161,80,0);
    }
  }